<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Hands-on Lab: Complete the EDA with SQL</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

## Database configuration

### Incorrect configuration

<div class="alert alert-danger" role="alert">
  Below is the original configuration provided by EDX. <b>It does not work! You will get errors when running SQL queries</b>
</div>

# This configuration WILL NOT WORK, it generates errors
!pip install sqlalchemy==1.4
!pip install ipython-sql
!pip install pandas

### Correct configuration

<div class="alert alert-success" role="alert">
  The following is the correct configuration.
</div>

# This configuration WILL NOT WORK, it generates errors
# CONVERT THIS CELL TO 'CODE'.
# ONLY RUN IF YOU DIDN'T INSTALL THE LIBRARIES USING THE `requirements.txt` FILE
!pip install sqlalchemy
!pip install jupysql # Correct library for using SQL in Jupyter
!pip install pandas

### Create the database

<div class="alert alert-info" role="alert">
  <b>The following scripts only need to be run once.</b> You only need to connect to the database once it's been created.
</div>

Once you've created this database successfully, you can entirely skip this section.

In [1]:
# Libraries required to perform this operation
import pandas as pd
import sqlite3

In [2]:
# Path to store database
db_path = '../data/00_Datasets/00_Raw/SQLite/'
# Name of database file
db_name = 'spacex_sql.db'

In [3]:
# Python objects needed to create the database
con = sqlite3.connect(db_path + db_name)
cur = con.cursor()

In [4]:
# Create a Pandas dataframe from a csv stored in the cloud
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

# Verify output
df

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt
...,...,...,...,...,...,...,...,...,...,...
96,2020-11-05,23:24:23,F9 B5B1062.1,CCAFS SLC-40,"GPS III-04 , Crew-1",4311,MEO,USSF,Success,Success
97,2020-11-16,0:27:00,F9 B5B1061.1,KSC LC-39A,"Crew-1, Sentinel-6 Michael Freilich",12500,LEO (ISS),NASA (CCP),Success,Success
98,2020-11-21,17:17:08,F9 B5B1063.1,VAFB SLC-4E,"Sentinel-6 Michael Freilich, Starlink 15 v1.0",1192,LEO,NASA / NOAA / ESA / EUMETSAT,Success,Success
99,2020-11-25,2:13:00,F9 B5 B1049.7,CCAFS SLC-40,"Starlink 15 v1.0, SpaceX CRS-21",15600,LEO,SpaceX,Success,Success
100,2020-12-06,16:17:08,F9 B5 B1058.4,KSC LC-39A,SpaceX CRS-21,2972,LEO (ISS),NASA (CRS),Success,Success

**Convert the csv to an SQL table. An output of `101` means the operation was successful.**

In [5]:
# Convert the csv to an SQLite3 database and save it locally
df.to_sql("SPACEXTBL", con, if_exists = 'replace', index = False, method = "multi")

101

Load the SQL magic extension

In [6]:
%load_ext sql

Connect to the database using SQL Magic

In [7]:
%sql sqlite:///../data/00_Datasets/00_Raw/SQLite/spacex_sql.db

Connecting to 'sqlite:///../data/00_Datasets/00_Raw/SQLite/spacex_sql.db'

**Note:This below code is added to remove blank rows from table**

In [8]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

Running query in 'sqlite:///../data/00_Datasets/00_Raw/SQLite/spacex_sql.db'

++
||
++
++

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

<div class="alert alert-success" role="alert">
  Once you've created the database (in the previous section) you can start running code from this section onward when reloading the notebook.
</div>

In [9]:
# Load the sql magic extension
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [10]:
# Connect to the database
%sql sqlite:///../data/00_Datasets/00_Raw/SQLite/spacex_sql.db

In [11]:
# Remove limit
%config SqlMagic.displaylimit = None

displaylimit: Value None will be treated as 0 (no limit)

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"** . 

   

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [12]:
%%sql 
SELECT DISTINCT launch_site 
    FROM spacextbl 
    GROUP BY launch_site;

Running query in 'sqlite:///../data/00_Datasets/00_Raw/SQLite/spacex_sql.db'

+--------------+
| Launch_Site  |
+--------------+
| CCAFS LC-40  |
| CCAFS SLC-40 |
|  KSC LC-39A  |
| VAFB SLC-4E  |
+--------------+


### Task 2


#####  Display 5 records where launch sites begin with the string 'KSC'

In [13]:
%%sql
SELECT *
    FROM spacextbl
    WHERE launch_site
    LIKE 'KSC%'
    LIMIT 5;

Running query in 'sqlite:///../data/00_Datasets/00_Raw/SQLite/spacex_sql.db'

+------------+------------+-----------------+-------------+---------------+-------------------+-----------+------------+-----------------+----------------------+
|    Date    | Time (UTC) | Booster_Version | Launch_Site |    Payload    | PAYLOAD_MASS__KG_ |   Orbit   |  Customer  | Mission_Outcome |   Landing_Outcome    |
+------------+------------+-----------------+-------------+---------------+-------------------+-----------+------------+-----------------+----------------------+
| 2017-02-19 |  14:39:00  |  F9 FT B1031.1  |  KSC LC-39A | SpaceX CRS-10 |        2490       | LEO (ISS) | NASA (CRS) |     Success     | Success (ground pad) |
| 2017-03-16 |  6:00:00   |   F9 FT B1030   |  KSC LC-39A |  EchoStar 23  |        5600       |    GTO    |  EchoStar  |     Success     |      No attempt      |
| 2017-03-30 |  22:27:00  |  F9 FT  B1021.2 |  KSC LC-39A |     SES-10    |        5300       |    GTO    |    SES     |     Success     | Success (drone ship) |
| 2017-05-01 |  11:15:00  |  F9 FT B1032.1  |  KSC LC-39A |    NROL-76    |        5300       |    LEO    |    NRO     |     Success     | Success (ground pad) |
| 2017-05-15 |  23:21:00  |   F9 FT B1034   |  KSC LC-39A | Inmarsat-5 F4 |        6070       |    GTO    |  Inmarsat  |     Success     |      No attempt      |
+------------+------------+-----------------+-------------+---------------+-------------------+-----------+------------+-----------------+----------------------+

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [14]:
%%sql
SELECT SUM(payload_mass__kg_) as "Total payload mass (kg) launched by NASA (CRS)"
    FROM spacextbl
    WHERE customer 
    LIKE 'NASA (CRS)';

Running query in 'sqlite:///../data/00_Datasets/00_Raw/SQLite/spacex_sql.db'

+------------------------------------------------+
| Total payload mass (kg) launched by NASA (CRS) |
+------------------------------------------------+
|                     45596                      |
+------------------------------------------------+

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [15]:
%%sql
SELECT AVG(payload_mass__kg_) AS "Average payload mass (kg) launched by booster version F9v1.1"
    FROM spacextbl
    WHERE booster_version
    LIKE 'F9 v1.1';

Running query in 'sqlite:///../data/00_Datasets/00_Raw/SQLite/spacex_sql.db'

+--------------------------------------------------------------+
| Average payload mass (kg) launched by booster version F9v1.1 |
+--------------------------------------------------------------+
|                            2928.4                            |
+--------------------------------------------------------------+

### Task 5

##### List the date where the succesful landing outcome in drone ship was acheived.


_Hint:Use min function_

In [16]:
%%sql
SELECT MIN(date) as "First successful drone ship landing (YYYY-MM-DD)"
    FROM spacextbl
    WHERE landing_outcome
    LIKE 'Success (drone ship)';

Running query in 'sqlite:///../data/00_Datasets/00_Raw/SQLite/spacex_sql.db'

+--------------------------------------------------+
| First successful drone ship landing (YYYY-MM-DD) |
+--------------------------------------------------+
|                    2016-04-08                    |
+--------------------------------------------------+

### Task 6

##### List the names of the boosters which have success in ground pad  and have payload mass greater than 4000 but less than 6000

In [17]:
%%sql
SELECT booster_version, payload_mass__kg_
    FROM spacextbl
    WHERE payload_mass__kg_ > 4000
    AND payload_mass__kg_ < 6000
    AND landing_outcome LIKE 'Success (ground pad)'
    GROUP BY payload_mass__kg_;

Running query in 'sqlite:///../data/00_Datasets/00_Raw/SQLite/spacex_sql.db'

+-----------------+-------------------+
| Booster_Version | PAYLOAD_MASS__KG_ |
+-----------------+-------------------+
|  F9 B4 B1040.1  |        4990       |
|  F9 B4 B1043.1  |        5000       |
|  F9 FT B1032.1  |        5300       |
+-----------------+-------------------+

### Task 7




##### List the total number of successful and failure mission outcomes

In [18]:
%%sql
SELECT TRIM(mission_outcome) AS mission_outcome, COUNT(mission_outcome)
    FROM spacextbl
    GROUP BY TRIM(mission_outcome);

Running query in 'sqlite:///../data/00_Datasets/00_Raw/SQLite/spacex_sql.db'

+----------------------------------+------------------------+
|         mission_outcome          | COUNT(mission_outcome) |
+----------------------------------+------------------------+
|       Failure (in flight)        |           1            |
|             Success              |           99           |
| Success (payload status unclear) |           1            |
+----------------------------------+------------------------+

### Task 8



##### List all the booster_versions that have carried the maximum payload mass. Use a subquery.

In [19]:
%%sql 
SELECT booster_version, payload_mass__kg_
    FROM SPACEXTBL
    WHERE payload_mass__kg_ = (SELECT MAX(payload_mass__kg_) FROM SPACEXTBL)
    GROUP BY booster_version;

Running query in 'sqlite:///../data/00_Datasets/00_Raw/SQLite/spacex_sql.db'

+-----------------+-------------------+
| Booster_Version | PAYLOAD_MASS__KG_ |
+-----------------+-------------------+
|  F9 B5 B1048.4  |       15600       |
|  F9 B5 B1048.5  |       15600       |
|  F9 B5 B1049.4  |       15600       |
|  F9 B5 B1049.5  |       15600       |
|  F9 B5 B1049.7  |       15600       |
|  F9 B5 B1051.3  |       15600       |
|  F9 B5 B1051.4  |       15600       |
|  F9 B5 B1051.6  |       15600       |
|  F9 B5 B1056.4  |       15600       |
|  F9 B5 B1058.3  |       15600       |
|  F9 B5 B1060.2  |       15600       |
|  F9 B5 B1060.3  |       15600       |
+-----------------+-------------------+

### Task 9


##### List the records which will display the month names, succesful landing_outcomes in ground pad ,booster versions, launch_site for the months in year 2017
**Note: SQLLite does not support monthnames. So you need to use substr(Date,6,2) for month, substr(Date,9,2) for date, substr(Date,0,5),='2017' for year.**

In [20]:
%%sql
SELECT 
    -- Convert the month digit to a month name
    CASE 
        CAST(STRFTIME('%m', Date) AS INTEGER)
        WHEN 1 THEN 'January'
        WHEN 2 THEN 'February'
        WHEN 3 THEN 'March'
        WHEN 4 THEN 'April'
        WHEN 5 THEN 'May'
        WHEN 6 THEN 'June'
        WHEN 7 THEN 'July'
        WHEN 8 THEN 'August'
        WHEN 9 THEN 'September'
        WHEN 10 THEN 'October'
        WHEN 11 THEN 'November'
        WHEN 12 THEN 'December'
    END AS Month,
    Booster_Version,
    Launch_Site,
    Landing_Outcome
FROM spacextbl
WHERE 
    STRFTIME('%Y', Date) = '2017'
    AND LOWER(Landing_Outcome) LIKE '%success%'
    AND LOWER(Landing_Outcome) LIKE '%ground pad%'
ORDER BY CAST(STRFTIME('%m', Date) AS INTEGER);

Running query in 'sqlite:///../data/00_Datasets/00_Raw/SQLite/spacex_sql.db'

+-----------+-----------------+--------------+----------------------+
|   Month   | Booster_Version | Launch_Site  |   Landing_Outcome    |
+-----------+-----------------+--------------+----------------------+
|  February |  F9 FT B1031.1  |  KSC LC-39A  | Success (ground pad) |
|    May    |  F9 FT B1032.1  |  KSC LC-39A  | Success (ground pad) |
|    June   |  F9 FT B1035.1  |  KSC LC-39A  | Success (ground pad) |
|   August  |  F9 B4 B1039.1  |  KSC LC-39A  | Success (ground pad) |
| September |  F9 B4 B1040.1  |  KSC LC-39A  | Success (ground pad) |
|  December |  F9 FT  B1035.2 | CCAFS SLC-40 | Success (ground pad) |
+-----------+-----------------+--------------+----------------------+

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [21]:
%%sql
SELECT landing_outcome AS 'Landing Outcome', COUNT(landing_outcome) AS 'Total Count'
        FROM spacextbl
        WHERE DATE BETWEEN '2010-06-04' AND '2017-03-20'
        GROUP BY landing_outcome
        ORDER BY COUNT(landing_outcome) DESC;

Running query in 'sqlite:///../data/00_Datasets/00_Raw/SQLite/spacex_sql.db'

+------------------------+-------------+
|    Landing Outcome     | Total Count |
+------------------------+-------------+
|       No attempt       |      10     |
|  Success (drone ship)  |      5      |
|  Failure (drone ship)  |      5      |
|  Success (ground pad)  |      3      |
|   Controlled (ocean)   |      3      |
|  Uncontrolled (ocean)  |      2      |
|  Failure (parachute)   |      2      |
| Precluded (drone ship) |      1      |
+------------------------+-------------+

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%203/LAB-String_Patterns_Sorting_Grouping.md.html">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
--!>

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>